@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
    box-sizing: border-box;
    animation: loading 1.5s forwards;

}


@keyframes loading {
    0% {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    100% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

body,
html {
    background: #eee;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background-image: url("images/IMG_8865blur.jpg");
    height: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover;
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}

.underline {
    text-decoration: underline;
}

.link {
    color: aquamarine;
}

.link:hover {
    color: aqua;
    text-decoration: none;
}

.link:focus {
    color: aqua;
    outline: none;
}

.bg-text {
    height: 100vh;
    padding: 2rem;
    /* width: 15rem; */
    color: white;
    font-weight: bold;
    border: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin-top: 118px;
    margin-bottom: 80px;
    border-radius: 10px;
}

.cursive-font {
    font-family: "Dancing Script", cursive;
}


.footer {
    margin-top: 50px;
    background-color: rgba(3, 3, 31, 0.596);
    color: black;
    border-radius: 10px;
}

.btn {
    font-family: 'Ubuntu',
        sans-serif;
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    color: #eee;
    border-radius: 20px;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    transition: all .4s ease-in-out;
}

.btn h4 {
    font-weight: bold;
}

.btn p {
    font-size: smaller;
}

.btn:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn:focus {
    background-position: 100% 0;
    outline: none;
}